{% extends"base.html.twig" %}

{% block title %}Ajouter une recette (partie 2){{ parent() }}{% endblock %}

{% block body %}
    <form action="/Recette/AddRecipe" method="post">
        <label for="recipename">Nom de la recette</label>
        <input type="text" name="recipename" required>
        <br>
        <label for="howmany">Pourquoi combien de personnes est cette recette?</label>
        <select name="howmany">
            {% for i in 0..10 %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="diet">A quel régime alimentaire appartient votre recette?</label>
        <select name="diet">
            {% for diet in diets %}
                <option value="{{ diet.iddiet }}">{{ diet.dietname }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="ingredients">Liste des ingrédients</label>
        <br>
        {% for i in 1..combien %}
            <input type="text" name="ingredient[]" placeholder="Ingrédients" required>
            <input type="number" name="quantite[]" placeholder="Quantité" required>
            <select name="unity[]" required>
                {% for unity in unities %}
                    <option value="{{ unity.uniname }}">{{ unity.uniname }}</option>
                {% endfor %}
            </select>
            <br>
        {% endfor %}
        <textarea name="recipestep" cols="30" rows="10" placeholder="Décrivez les étapes de votre recette" required></textarea>
        <br>
        <button type="submit">Enregistrer ma recette</button>
    </form>
{% endblock %}