{% extends"base.html.twig" %}

{% block title %}Liste des recettes {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/listing.css">
{% endblock %}

{% block body %}
    <div class="card-container">
        {% for recipe in recipes %}
            <div class="card">
                {% if recipe.rechowmany > 1 %}
                    <h3>{{ recipe.recname }} </h3><span>{{ recipe.rechowmany }} personnes</span>
                {% else %}
                    <h3>{{ recipe.recname }} </h3>
                    <span>{{ recipe.rechowmany }} personne</span>
                {% endif %}
                {% if recipe.recimg is defined  %}
                    <img src="{{ recipe.recimg|trim('.','left') }}" alt="Image de nourriture" class="list-img">
                 {% else %}
                     <img src="./uploads/recipe-images/default.png" alt="Image de nourriture" class="list-img">
                {% endif %}
                {# Lorsque toutes les recettes auront un slug, changer le idrecipe par recnameslug  #}
                <a href="/Recette/oneRecipe/{{ recipe.recnameslug }}" class="btn" target="_blank">Moi MANGER !</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}