{% extends"base.html.twig" %}

{% block title %}{{ recipename }} {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/oneRecipe.css">
{% endblock %}

{% block body %}
    <div class="container">
        {% if peoples > 1 %}
            <h1>{{ recipename }} - Recette pour {{ peoples }} personnes</h1>
        {% else %}
            <h1>{{ recipename }} - Recette pour {{ peoples }} personne</h1>
        {% endif %}
        <img src="{{ recipeimg|trim('.','left') }}" alt="Image de la recette">
        <h2>Liste des ingredients</h2>
        <ul>
            {% for ingredient in ingredients %}
                <li>{{ ingredient.ingredientName }} ({{ ingredient.quantity }} {{ ingredient.unity }})</li>
            {% endfor %}
        </ul>
        <h2>Etapes de la recette</h2>
        {{ recipedesc|raw }}
        <div class="btn-container">
            <a href="#" class="btn btn-mail">Partager cette recette par mail</a>
            <a href="/Recette/generatepdf/{{ idrecipe }}" class="btn btn-pdf">Enregistrer cette recette au format PDF</a>
        </div>
    </div>
{% endblock %}