{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/assets/blog.css">
{% endblock %}

{% block title 'Blog - Article'  %}
{% block body %}
    <div class="content">
        <h1 class="article-title">{{ article.art_title }}</h1>
        <img class="article-detail-img" src="{{  article.art_image|trim('.','left') }}">
        <p class="article-date">{{ article.art_date|date("d/m/Y H:m:s") }}</p>
        <hr>
        <p>{{ article.art_content|raw }}</p>

        <hr>
        {% if session.client.cliadmin == "1" %}
            <form class="form-btn-supprimer" method="post" action="/Blog/deleteArticle/{{ article.art_id }}">
                <button class="btn-supprimer">Supprimer l'article</button>
            </form>
            <form class="form-btn-modifier" method="post" action="/Blog/getDetailsForUpdate/{{ article.art_slug }}">
                <button class="btn-modifier">Modifier l'article</button>
            </form>
        {% endif %}

        <a class="lien-accueil" href="/">Retourner à l'accueil du site.</a>
    </div>
{% endblock %}